body {
    font-family: monospace;
    background: linear-gradient(to bottom, #465056 0%, #E1F5FE 80%);
    height: 1000px;
}

html {
    height: 100%;
}

.main-heading {
    color: #FFF;
    font-size: 32px;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    width: 90%;
    margin-top: 100px;
}

.align-center {
    width: 600px;
    margin: auto;
    height: 600px;
    margin-top: 200px;
}

.align-center td {
    border: 2px solid darkblue;
    height: 200px;
    width: 200px;
}

.select {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 20%;
    margin-top: 0px;
    display: inline-block;
}

.heading-2 {
    display: flex;
    justify-content: space-evenly;
}

.heading-2 span {
    width: 25px;
    text-align: center;
}

.place {
    font-size: 80px;
    color: lightcyan;
    background-color: darkslategray;
    text-align: center;
}

#warn {
    color: darkred;
    padding: 20px;
}

a {
    text-decoration: none;
}

.btn {
    padding: 20px;
    border: 1px solid darkblue;
    width: 200px;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
}

.keepctn {
    margin: auto;
    margin-top: 100px;
    width: 50%;
}

.foot-game {
    font-size: 26px;
    color: #0D47A1;
    position: fixed;
    top: 1300px;
    margin: auto;
    width: 500px;
    left: 300px;
}

.select-big {
    border: 1px solid #ffffff;
    padding: 10px;
    border-radius: 5px;
    margin-top: 0px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.putgif {
    float: left;
}

.welcome {
    margin: auto;
    font-size: 55px;
    font-weight: 500;
    color: #FFF;
    margin-top: 60px;
    padding: 20px;
    text-align: center;
}